<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Yamed.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Yamed.Properties.Settings.ConnectionString" connectionString="Data Source=.;Initial Catalog=ElmedicineSV_Onko;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Yamed.Properties.Settings.SrzConnectionString" connectionString="Data Source=192.168.0.101;Initial Catalog=srz_mini;User ID=sa;Password=Gbljh:100" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <userSettings>
        <Yamed.Properties.Settings>
            <setting name="temp" serializeAs="String">
                <value>Data Source=77.241.17.98,1416;Initial Catalog=elmedicinenewfond;User ID=Vasilenko;Password=LtdPfrByl</value>
            </setting>
            <setting name="temp2" serializeAs="String">
                <value>Data Source=91.240.209.20,1432;Initial Catalog=elmed;User ID=sa;Password=Otuds[key</value>
            </setting>
            <setting name="temp3" serializeAs="String">
                <value>Data Source=77.241.17.98,1612\Tf16_12;Initial Catalog=ElmedKokod;User ID=Vasilenko;Password=WfgRecUjv</value>
            </setting>
        </Yamed.Properties.Settings>
        <DXThemeManager>
            <setting name="ApplicationThemeName" serializeAs="String">
                <value>Office2016White</value>
            </setting>
        </DXThemeManager>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PresentationFramework" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WindowsBase" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PresentationCore" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
