<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
      <add name="Yamed.Entity.Properties.Settings.elmed_catConnectionString"
          connectionString="Data Source=192.168.0.101;Initial Catalog=elmed_cat;User ID=sa"
          providerName="System.Data.SqlClient" />
      <add name="Yamed.Entity.Properties.Settings.elmedicine1ConnectionString"
          connectionString="Data Source=192.168.0.101;Initial Catalog=elmedicine1;Persist Security Info=True;User ID=sa;Password=Gbljh:100"
          providerName="System.Data.SqlClient" />
      <add name="Yamed.Entity.Properties.Settings.ELMEDICINENEWFONDConnectionString"
          connectionString="Data Source=77.241.17.98,1416;Initial Catalog=ELMEDICINENEWFOND;User ID=Vasilenko;Password=LtdPfrByl"
          providerName="System.Data.SqlClient" />
      <add name="Yamed.Entity.Properties.Settings.ElmedConnectionString"
          connectionString="Data Source=91.240.209.20,1432;Initial Catalog=Elmed;User ID=sa;Password=Hospital6"
          providerName="System.Data.SqlClient" />
      <add name="Yamed.Entity.Properties.Settings.ElmedicineNewSV04ConnectionString"
          connectionString="Data Source=.;Initial Catalog=ElmedicineNewSV04;Integrated Security=True"
          providerName="System.Data.SqlClient" />
      <add name="Yamed.Entity.Properties.Settings.ElmedConnectionString1"
          connectionString="Data Source=91.240.209.20,1432;Initial Catalog=Elmed;User ID=sa"
          providerName="System.Data.SqlClient" />
      <add name="Yamed.Entity.Properties.Settings.ELMEDICINENEWFONDConnectionString1"
          connectionString="Data Source=77.241.17.98,1416;Initial Catalog=ELMEDICINENEWFOND;User ID=Vasilenko"
          providerName="System.Data.SqlClient" />
      <add name="Yamed.Entity.Properties.Settings.ELMEDICINENEWFONDConnectionString2"
          connectionString="Data Source=77.241.17.98,1416;Initial Catalog=ELMEDICINENEWFOND;Persist Security Info=True;User ID=Vasilenko"
          providerName="System.Data.SqlClient" />
      <add name="Yamed.Entity.Properties.Settings.ElmedicineNewSVConnectionString"
          connectionString="Data Source=.;Initial Catalog=ElmedicineNewSV;Integrated Security=True"
          providerName="System.Data.SqlClient" />
      <add name="Yamed.Entity.Properties.Settings.ElmedicineConnectionString"
          connectionString="Data Source=.;Initial Catalog=Elmedicine;Integrated Security=True"
          providerName="System.Data.SqlClient" />
      <add name="Model1" connectionString="data source=.;initial catalog=Elmedicine;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
          providerName="System.Data.SqlClient" />
      <add name="Yamed.Entity.Properties.Settings.elmedConnectionString2"
          connectionString="Data Source=91.240.209.20,1432;Initial Catalog=elmed;Persist Security Info=True;User ID=sa"
          providerName="System.Data.SqlClient" />
      <add name="Yamed.Entity.Properties.Settings.elmedConnectionString3"
          connectionString="Data Source=91.240.209.20,1432;Initial Catalog=elmed;User ID=sa"
          providerName="System.Data.SqlClient" />
      <add name="Yamed.Entity.Properties.Settings.ElmedicineSV_demoConnectionString"
          connectionString="Data Source=MED\SQLEXPRESS01;Initial Catalog=ElmedicineSV_demo;Integrated Security=True"
          providerName="System.Data.SqlClient" />
      <add name="Yamed.Entity.Properties.Settings.SMO_SpassGateConnectionString"
          connectionString="Data Source=192.168.0.112;Initial Catalog=SMO_SpassGate;User ID=sgate_login;Password=CgfDjhHtu46"
          providerName="System.Data.SqlClient" />
      <add name="Yamed.Entity.Properties.Settings.SMO_SpassGateConnectionString1"
          connectionString="Data Source=192.168.0.112;Initial Catalog=SMO_SpassGate;User ID=sgate_login"
          providerName="System.Data.SqlClient" />
      <add name="Yamed.Entity.Properties.Settings.ElmedicineNewConnectionString"
          connectionString="Data Source=MED\SQLEXPRESS01;Initial Catalog=ElmedicineNew;Integrated Security=True"
          providerName="System.Data.SqlClient" />
      <add name="Yamed.Entity.Properties.Settings.SMO_SpassGateConnectionString2"
          connectionString="Data Source=192.168.0.112;Initial Catalog=SMO_SpassGate;User ID=sa;Password=Gbljh:100"
          providerName="System.Data.SqlClient" />
      <add name="Yamed.Entity.Properties.Settings.ElmedicineSV_OnkoConnectionString"
          connectionString="Data Source=.;Initial Catalog=ElmedicineSV_Onko;Integrated Security=True"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <userSettings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>Office2016White</value>
      </setting>
    </DXThemeManager>
  </userSettings>
</configuration>
